<div class="container">
  <div class="row border border-dark">

    <div class="column col-4  border border-success rounded py-2" [ngStyle]='{"background-color":"#333"}'>
        <app-dropdown-menu> </app-dropdown-menu>
    </div>

    <div class="column col-8 py-2" [ngStyle]='{"background-color":"#f0f8ff"}'>
      <form>
        
        <div class="form-group pass_show" >
          <label for="old_password">Old Password</label>
          <div class="input-group">
            <input type={{passwordtype_old}} name="old_password" class="form-control" id="oldPassword" placeholder = "Old Password" [(ngModel)]="oldPassword" />
            <div class="input-group-addon">
                <button type="button" class="btn btn-default fa fa-eye field-icon toggle-password" (click)="passwordtype_old=hideShow(passwordtype_old)">
              </button>
            </div>  
          </div>
        </div>
        
        <div class="form-group">
          <label for="new_password">New Password</label>
          <div class="input-group" >
            <input type={{passwordtype_new}} name="new_password" class="form-control pass_show" id="newPassword" placeholder="New Password" [(ngModel)]="newPassword" pattern="[0-9a-fA-F]{4,8}"/>
            
            <div class="input-group-addon">
              <button type="button" class="btn btn-default fa fa-eye field-icon toggle-password" (click)="passwordtype_new=hideShow(passwordtype_new)">
            </button>
          </div>
        </div>
          <!-- <button class="btn btn-default reveal" type="button">
              <i class="glyphicon glyphicon-eye-open"></i>
            </button> -->
        </div>
      
        <div class="form-group text-center">
            <button type="button" class="btn btn-primary" (click)="confirm_password($event)">Change Password</button>
        </div>
      </form>
    </div>

  </div>
</div>
