<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let estate of estates" 
  [latitude]="estate.location.lat" [longitude]="estate.location.lng" [iconUrl]="{
    url:'https://img.icons8.com/flat_round/64/000000/home.png',
    scaledSize: {
        width: 25,
        height: 30
    }
}">
<agm-info-window>
  <img src="{{estate.photos[0]}}" alt="">
  <h3>{{estate.title}}</h3>
  <h4>{{estate.description}}</h4>
</agm-info-window>
</agm-marker>
</agm-map>

<div style="width:400px; position: relative;">
<form #getAddresForm="ngForm" (ngSubmit)="findPlace(address)">
  <div class="form-group m-4">
    <input type="text" name="address" 
    [(ngModel)]="address" placeholder="Aaddress" required autofocus>
    <button class="btn btn-outline-success ml-3" [disabled]="!getAddresForm.valid" type="submit">Find</button>
  </div>
</form>
</div>