<div class="container">
    <div class="row border border-dark">
  
      <div class="column col-4  border border-success rounded py-2" [ngStyle]='{"background-color":"#333"}'>
  
       <div class="row justify-content-around">
         
          <img class="card-img-top" src="{{user.photoUrl}}" alt="{{user.knowAs}}">
        
      
        <div class="column mt-3">
            <p class="lead"></p>
            <p class="lead">Id:</p>
        </div>
       </div>
  
       <div class="column buttons">
        <button type="button" class="btn btn-primary col-12" [routerLink]="['/user-cabinet']">My cabinet</button>
        <button type="button" class="btn btn-primary col-12" [routerLink]="['/estates']">Advertisement</button>
        <button type="button" class="btn btn-primary  col-12" [routerLink]="['notification']">Notification</button>

        <button type="button" class="btn btn-primary col-12 dropdown-toggle dropdown-help" 
        (click)='toogleHelp=!toogleHelp'>Help</button>
        <ul *ngIf='toogleHelp'>
            <li><a [routerLink]="['/add_advertisment']"> How to add an advertisement</a></li>
            <li><a [routerLink]="['/question']"> Have any questions?</a></li>
        </ul>

        <button type="button" class="btn btn-primary col-12 dropdown-toggle dropdown-help"
        (click)='toogleSetting=!toogleSetting'>Settings</button>
        <ul *ngIf='toogleSetting'>
            <li><a [routerLink]="['/edit-profile']">Edit your personal cabinet</a></li>
            <li><a [routerLink]="['/change_password']">Change password</a></li>
            <li><a [routerLink]="['/delete_account']">Delete account</a></li>
        </ul>


        <button type="button" class="btn btn-primary col-12" (click)="logout()">Log out</button>
      </div>
  
    </div>
  
      <div class="column col-8 py-2 text-center text-uppercase" [ngStyle]='{"background-color":"#f0f8ff"}'>
  
        <div class="column col-6 m-auto text-center text-uppercase">
              <h3><a [routerLink] = "['/estates']"></a>All estate:</h3>
              <div class='border border-success rounded'>
                <p class="lead">Понад 100 оголошень</p>
                <p class="lead">Знайдіть своє</p>
              </div>
        </div>
  
        <div class="column col-6 m-auto text-center text-uppercase">
            <h3>Оренда:</h3>
            <div class='border border-success rounded'>
              <p class="lead">Орендуйте житло в будь-який момент</p>
            </div>
      </div>
  
        <div class="column col-6 m-auto text-center text-uppercase">
            <h3>Зв'яжіться з нами:</h3>
            <div class='border border-success rounded'>
              <p class="lead">Велика кількість агентів готова Вам допомогти в будь-який момент</p>
            </div>
      </div>

      </div>
    </div>
  </div>
