<div class="container">
    <div class="row border border-dark">
  
      <div class="column col-4  border border-success rounded py-2" [ngStyle]='{"background-color":"#333"}'>
          <app-dropdown-menu> </app-dropdown-menu>
      </div>
  
      <div class="column col-8 py-2 text-center text-uppercase" [ngStyle]='{"background-color":"#f0f8ff"}'>
  
        <div class="column col-6 m-auto text-center text-uppercase">
              <h3><a [routerLink] = "['/estates']"></a>All estate:</h3>
              <div class='border border-success rounded'>
                <p class="lead">More than 100 ads</p>
                <p class="lead">Find your ad</p>
              </div>
        </div>
  
        <div class="column col-6 m-auto text-center text-uppercase">
            <h3>Оренда:</h3>
            <div class='border border-success rounded'>
              <p class="lead">Rent a home at any time</p>
            </div>
      </div>
  
        <div class="column col-6 m-auto text-center text-uppercase">
            <h3>Contact us:</h3>
            <div class='border border-success rounded'>
              <p class="lead">A large number of agents are ready to assist you at any time</p>
            </div>
      </div>

      </div>
    </div>
  </div>
