<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="../../assets/architect.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>My</b></span> <span class="w3-hide-small w3-text-light-grey">Estate</span></h1>
  </div>
</header>


<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div *ngFor="let estate of estates" class="col-md-4">
        <app-estate-card [estate]="estate"></app-estate-card>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-5" id="contact">
  <h2>Contact</h2>
  <hr />
  <form role="form">
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Comment">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>

<div class="container-fluid my-5" id="about">
  <h2>About</h2>
  <hr />
  <p>
    Changing housing, selling or buying a new home is a rather common occurrence. Selling or buying a home is  likely the most expensive purchase you will ever make in your life so it can be a stressful experience.
    Need to find a professional agent, place ads or want to find a home? Our app can help you do this and can give you greater insight into the market where you're looking to make a purchase. MyEstate serves the full lifecycle of owning and living in a home: buying, selling, renting and more.
  </p>
</div>

<footer class="bg-secondary">
  <p class="text-center text-white">&copy; 2019 - Welcome to MyEstate</p>
</footer>
