<header>
  <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmcVZCI_uuYe5D-CjNCcvpr7C_NIv_KpmQoD8DjFbf9f_OKjDh">
</header>

<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img class="img-card img-fluid" src="https://www.w3schools.com/w3images/house5.jpg">
        <div class="card-img-overlay">
          <h4 class="card-title text-light">Barn House</h4>
        </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="img-card img-fluid" src="../../../../wwwroot/brickhouse.jpg">
        <div class="card-img-overlay">
          <h4 class="card-title text-light">Brick House</h4>
        </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="img-card img-fluid" src="../../../../wwwroot/renovated.jpg">
        <div class="card-img-overlay">
          <h4 class="card-title text-light">Renovated</h4>
        </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="img-card img-fluid" src="img/summerhouse.jpg">
        <div class="card-img-overlay">
          <h4 class="card-title text-light">Summerhouse</h4>
        </div>
    </div>
    </div>
  </div>
  <br/>
  <div class="row">
  <div class="col-md-3">
      <div class="card">
        <img class="img-card img-fluid" src="img/barnhouse.jpg">
        <div class="card-img-overlay">
          <h4 class="card-title text-light">Barn House</h4>
        </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="img-card img-fluid" src="img/brickhouse.jpg">
        <div class="card-img-overlay">
          <h4 class="card-title text-light">Brick House</h4>
        </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="img-card img-fluid" src="img/renovated.jpg">
        <div class="card-img-overlay">
          <h4 class="card-title text-light">Renovated</h4>
        </div>
    </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="img-card img-fluid" src="img/summerhouse.jpg">
        <div class="card-img-overlay">
          <h4 class="card-title text-light">Summerhouse</h4>
        </div>
    </div>
    </div>
    </div>
</div>
  
<div class="container-fluid my-5" id="contact">
  <h2>Contact</h2>
  <hr/>
   <form role="form">
     <div class="form-group">
      <input type="email" class="form-control" placeholder="Name">
  </div>
  <div class="form-group">
      <input type="email" class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="Comment">
  </div>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
</div>

<div class="container-fluid my-5" id="about">
  <h2>About</h2>
  <hr/>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut nim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
</p>
</div>

<footer class="bg-dark">
<p class="text-center text-white">&copy; 2019 - Welcome to MyEstate</p>
</footer>
