<form id="mainSearchForm" class="m-3">
  <div class="container bg-info p-2">
    <div class="row mb-3">
      <div class="col-md-2">
        <select class="form-control">
          <option value="all">All</option>
          <option value="rent">Rent</option>
          <option value="selling">Selling</option>
        </select>
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" placeholder="City" />
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control" placeholder="District" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <h4 class="mb-1 text-center">Price</h4>
        <input type="text" class="form-control mb-1" placeholder="From" />
        <input type="text" class="form-control" placeholder="To" />
      </div>
      <div class="col-md-3">
        <h4 class="mb-1 text-center">Floors</h4>
        <input type="text" class="form-control mb-1" placeholder="From" />
        <input type="text" class="form-control" placeholder="To" />
      </div>
      <div class="col-md-3">
        <h4 class="mb-1 text-center">Rooms</h4>
        <input type="text" class="form-control mb-1" placeholder="From" />
        <input type="text" class="form-control" placeholder="To" />
      </div>
      <div class="col-md-3">
        <h4 class="mb-1 text-center">Square</h4>
        <input type="text" class="form-control mb-1" placeholder="From" />
        <input type="text" class="form-control" placeholder="To" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <button class="btn btn-primary form-control">Search</button>
      </div>
    </div>
  </div>
</form>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">Advertisement</h3>
      <div class="row mb-3" *ngFor="let estate of estates">
        <img class="float-left" src="{{estate.photos}}" />
        <div class="caption">
          <h4 id="homeTitle">{{estate.title}}</h4>
          <h5 id="price">{{estate.price}}$</h5>
          <p id="description">
            {{estate.description}}
          </p>
        </div>
        <button class="btn btn-primary">More</button>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">News</h3>
      <div class="row mb-3" *ngFor="let news of newsList">
        <div class="caption">
          <h4 id="homeTitle">{{news.title}}</h4>
          <p id="content">
            {{news.content}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
