  <h2 class="text-primary text-center">Tell us about your apartment</h2>
  <form #addEstateForm="ngForm" (ngSubmit)="add_estate()">
    <br>

    <div class="fill-form">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <label>City<span>*</span> </label>
          </div>
          <div class="col-md-5">
            <input type="text" id="city" list="city_list" required>
            <datalist id="city_list">
              <option>Kyiv</option>
              <option>Kharkiv</option>
              <option>Odessa</option>
              <option>Dnipro</option>
              <option>Donetsk</option>
              <option>Zaporizhia</option>
              <option>Lviv</option>
              <option>Kryvyi Rih</option>
              <option>Mykolaiv</option>
              <option>Mariupol</option>
              <option>Luhansk</option>
              <option>Vinnytsia</option>
              <option>Makiivka</option>
              <option>Sevastopol</option>
              <option>Simferopol</option>
              <option>Kherson</option>
              <option>Poltava</option>
              <option>Chernihiv</option>
              <option>Sumy</option>
            </datalist>
          </div>
        </div>
      </div>
      <hr size="30">

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <label>Region</label>
          </div>
          <div class="col-md-5">
            <input type="text" id="region">
          </div>
        </div>
      </div>
      <hr size="30">

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <label>Address<span>*</span></label>
          </div>
          <div class="col-5">
            <input type="text" id="street" placeholder="Street" required>
            <input type="number" min=1 id="building" placeholder="Number" required>
            <input type="number" min=1 id="Flat" placeholder="Flat">
          </div>
        </div>
      </div>
      <hr size="30">

      <div class="col-8">
        <div class="row">
          <div class="col-md-3">
            <label>Rooms<span>*</span></label>
          </div>
          <div class="col">
            <input type="number" id="rooms" min=1 placeholder="Count" required>
          </div>
          <div class="col">
            <input type="checkbox" id="lodgings"> Room in apartment, lodgings
          </div>
        </div>
      </div>
      <hr size="30">

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <label>Square meters, m²<span>*</span></label>
          </div>
          <div class="col-5">
            <input type="number input" min=1 id="gross" placeholder="Gross" required>
            <input type="number input" min=1 id="living" placeholder="Living" required>
            <input type="number input" min=1 id="kitchen" placeholder="Kitchen" required>
          </div>
        </div>
      </div>
      <hr size="30">

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <label>Floor and count of floors<span>*</span></label>
          </div>
          <div class="col-5">
            <input type="number input" min=1 id="floor" placeholder="Floor(optional)">
            <input type="number input" min=1 id="floors" placeholder="Floors" required>
            <input type="text" id="height" placeholder="Room height" required>
          </div>
        </div>
      </div>
      <hr size="30">

      <div class="col-md-8">
          <div class="row">
            <div class="col-3">
              <label>Condition</label>
            </div>
            <div class="col-5">
              <select id="condition">
                <option value="">-</option>
                <option value="ideal">Ideal</option>
                <option value="good">Good</option>
                <option value="normal">Normal</option>
                <option value="bad">Bad</option>
                <option value="repair">Needs repair</option>
              </select>
              </div>
           </div>

           <div class="row">
              <div class="col-3">
                <label>Balcony</label>
              </div>
              <div class="col-5">
                  <select id="balcony">
                      <option value="">-</option>
                      <option value="missing">Missing</option>
                      <option value="ideal">Ideal</option>
                      <option value="good">Good</option>
                      <option value="normal">Normal</option>
                      <option value="bad">Bad</option>
                      <option value="repair">Needs repair</option>
                    </select>
                </div>
             </div>
  
             <div class="row">
                <div class="col-3">
                  <label>Walls</label>
                </div>
                <div class="col-5">
                    <select id="walls">
                        <option value="">-</option>
                        <option value="ideal">Ideal</option>
                        <option value="good">Good</option>
                        <option value="normal">Normal</option>
                        <option value="bad">Bad</option>
                        <option value="repair">Needs repair</option>
                      </select>
                  </div>
               </div>
        </div>
        <hr size="30">

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <label>Building type</label>
          </div>
          <div class="col">
            <input type="text" id="Type" list="building_list">
            <datalist id="building_list">
              <option>A frame house</option>
              <option>Affordable housing</option>
              <option>Apartment</option>
              <option>Barn</option>
              <option>Penthouse</option>
              <option>Self build home</option>
              <option>Cottage</option>
            </datalist>
          </div>
        </div>
      </div>
      <hr size="30">

      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">
            <label>Price/Currency/Price for<span>*</span></label>
          </div>
          <div class="col">
            <input type="number input" style="line-height: 0%" min=1 id="price" placeholder="Price" required>

            <select id="Currency" required>
              <option value="dollars">$</option>
              <option value="pounds">£</option>
              <option value="euros">€</option>
              <option value="yen">¥</option>
              <option value="grivnas">₴</option>
            </select>

            <select id="price_for" required>
              <option value="mounth">Mounth</option>
              <option value="year">Year</option>
              <option value="day">Day</option>
              <option value="hour">Hour</option>
              <option value="sell">Sell</option>
            </select>
          </div>
        </div>
      </div>
      <hr size="30">

      <div class="col-md-8">
        <div class="row">
          <div class="col-3">
            <label>Photo</label>
          </div>
          <div class="col">
            <label for="file">Choose photos to upload</label>
            <input class="col" type="file" id="photo" multiple accept=".png, .jpg, .jpeg">
          </div>
        </div>
      </div>
      <hr size="30">

    </div>
    <div class="row" style="justify-content:center">
      <button class="btn btn-add" [disabled]="!addEstateForm.valid" type="submit">Add Estate</button>
    </div>
  </form>