<form #addEstateForm="ngForm" (ngSubmit)="add_estate()">
  <h2 class="text-primary text-center">Tell us about your apartment</h2>
  <br>

  <div class="fill-form">

      <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">
              <label>Country<span>*</span></label>
            </div>
            <div class="col-md-5">
              <input type="text" [(ngModel)]="estate.country" name="country" list="country_list" required>
              <datalist id="country_list">
                  <option>France</option>
                  <option>Great Britain</option>
                  <option>China</option>
                  <option>India</option>
                  <option>Japan</option>
                  <option>Canada</option>
                  <option>Germany</option>
                  <option>Spanish</option>
                  <option>Russia</option>
                  <option>Ukraine</option>
                  <option>Australia</option>
                  <option>Greece</option>
                  <option>Italy</option>
                  <option>Switzerland</option>
                  <option>Denmark</option>
                  <option>Belgium</option>
                  <option>Belgium</option>
                  <option>Sweden</option>
                  <option>Poland</option>
                </datalist>
            </div>
          </div>
        </div>
        <hr size="30">

   <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
          <label>City<span>*</span> </label>
        </div>
        <div class="col-md-5">
          <input type="text" [(ngModel)]="estate.city" name="city" list="city_list" required>
          <datalist *ngIf="(estate.country | lowercase) == 'ukraine'" id="city_list">
            <option>Kyiv</option>
            <option>Kharkiv</option>
            <option>Odessa</option>
            <option>Dnipro</option>
            <option>Donetsk</option>
            <option>Zaporizhia</option>
            <option>Lviv</option>
            <option>Kryvyi Rih</option>
            <option>Mykolaiv</option>
            <option>Mariupol</option>
            <option>Luhansk</option>
            <option>Vinnytsia</option>
            <option>Makiivka</option>
            <option>Sevastopol</option>
            <option>Simferopol</option>
            <option>Kherson</option>
            <option>Poltava</option>
            <option>Chernihiv</option>
            <option>Sumy</option>
          </datalist>
        </div>
      </div>
    </div>
    <hr size="30">

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
          <label>Region</label>
        </div>
        <div class="col-md-5">
          <input type="text" [(ngModel)]="model.region" name="region">
        </div>
      </div>
    </div>
    <hr size="30">

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
          <label>Address<span>*</span></label>
        </div>
        <div class="col-5">
          <input type="text" [(ngModel)]="estate.street" name="street" placeholder="Street" required>
          <input type="number" min=1 [(ngModel)]="model.building" name="building" placeholder="Number" required>
          <input type="number" min=1 [(ngModel)]="model.flat" name="Flat" placeholder="Flat(optional)">
        </div>
      </div>
    </div>
    <hr size="30">

    <div class="col-8">
      <div class="row">
        <div class="col-md-3">
          <label>Rooms<span>*</span></label>
        </div>
        <div class="col">
          <input type="number" [(ngModel)]="estate.rooms" name="rooms" min=1 placeholder="Count" required>
        </div>
        <div class="col">
          <input type="checkbox" [(ngModel)]="model.lodgings" name="lodgings"> Room in apartment, lodgings
        </div>
      </div>
    </div>
    <hr size="30">

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
          <label>Square meters, m²<span>*</span></label>
        </div>
        <div class="col-5">
          <input type="number input" min=1 [(ngModel)]="estate.square" name="gross" placeholder="Gross" required>
          <input type="number input" min=1 [(ngModel)]="model.living" name="living" placeholder="Living(optional)">
          <input type="number input" min=1 [(ngModel)]="model.kitchen" name="kitchen" placeholder="Kitchen(optional)">
        </div>
      </div>
    </div>
    <hr size="30">

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
          <label>Floor and count of floors<span>*</span></label>
        </div>
        <div class="col-5">
          <input type="number input" min=1 [(ngModel)]="model.floor" name="floor" placeholder="Floor(optional)">
          <input type="number input" min=1 [(ngModel)]="estate.floors" name="floors" placeholder="Floors" required>
          <input type="text"  name="height" [(ngModel)]="model.height" placeholder="Room height" required>
        </div>
      </div>
    </div>
    <hr size="30">

    <div class="col-md-8">
      <div class="row">
        <div class="col-3">
          <label>Condition</label>
        </div>
        <div class="col-5">
          <select [(ngModel)]="model.condition" name="condition">
            <option value="">-</option>
            <option value="ideal">Ideal</option>
            <option value="good">Good</option>
            <option value="normal">Normal</option>
            <option value="bad">Bad</option>
            <option value="repair">Needs repair</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <label>Balcony</label>
        </div>
        <div class="col-5">
          <select [(ngModel)]="model.balcony" name="balcony">
            <option value="">-</option>
            <option value="missing">Missing</option>
            <option value="ideal">Ideal</option>
            <option value="good">Good</option>
            <option value="normal">Normal</option>
            <option value="bad">Bad</option>
            <option value="repair">Needs repair</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <label>Walls</label>
        </div>
        <div class="col-5">
          <select [(ngModel)]="model.walls" name="walls">
            <option value="">-</option>
            <option value="ideal">Ideal</option>
            <option value="good">Good</option>
            <option value="normal">Normal</option>
            <option value="bad">Bad</option>
            <option value="repair">Needs repair</option>
          </select>
        </div>
      </div>
    </div>
    <hr size="30">

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
          <label>Building type</label>
        </div>
        <div class="col">
          <input type="text" [(ngModel)]="model.type" name="Type" list="building_list">
          <datalist id="building_list">
            <option>A frame house</option>
            <option>Affordable housing</option>
            <option>Apartment</option>
            <option>Barn</option>
            <option>Penthouse</option>
            <option>Self build home</option>
            <option>Cottage</option>
          </datalist>
        </div>
      </div>
    </div>
    <hr size="30">

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
          <label>Price/Currency/Price for<span>*</span></label>
        </div>
        <div class="col">
          <input type="number" style="line-height: 0%" min=1 [(ngModel)]="estate.price" name="price" placeholder="Price" required>

          <select name="Currency" required>
            <option value="dollars">$</option>
            <option value="pounds">£</option>
            <option value="euros">€</option>
            <option value="yen">¥</option>
            <option value="grivnas">₴</option>
          </select>

          <select name="price_for" required>
            <option value="mounth">Mounth</option>
            <option value="year">Year</option>
            <option value="day">Day</option>
            <option value="hour">Hour</option>
            <option value="sell">Sell</option>
          </select>
        </div>
      </div>
    </div>
    <hr size="30">

    <div class="col-md-8">
      <div class="row">
        <div class="col-3">
          <label>Photo</label>
        </div>
        <div class="col">
          <label for="file">Choose photos to upload</label>
          <input class="col" type="file" name="photos" multiple accept=".png, .jpg, .jpeg">
        </div>
      </div>
    </div>
    <hr size="30">

  </div>
  <div class="row" style="justify-content:center">
    <button class="btn btn-add" [disabled]="!addEstateForm.valid" type="submit">Add Estate</button>
    <br>
    <button class="btn btn-default" [routerLink]="['/home']" routerLinkActive="router-link-active" type="button"  (click)="cancel()">Cancel</button>
  </div>
</form>