<mat-horizontal-stepper  #stepper>
    <ng-template matStepperIcon="edit">
        <mat-label></mat-label>
    </ng-template>
    <mat-step [stepControl] = "addressForm">
       <form [formGroup] = "addressForm">
          <ng-template matStepLabel>Enter estate address</ng-template>
          <mat-form-field>
            <div class="input-group mb-3">
               <input matInput placeholder = "Country" 
               type="text"
               [ngClass]="{'is-invalid': addressForm.get('country').errors
              && addressForm.get('country').touched}"
               class="form-control is-invalid" 
               formControlName = "country" required>
               <div class="invalid-feedback">Please enter the country</div>
            </div>
          </mat-form-field>
          <br>
          <mat-form-field>
            <div class="input-group mb-3">
                <input matInput placeholder = "City"
                [ngClass]="{'is-invalid': addressForm.get('city').errors
                && addressForm.get('city').touched}"
                 class="form-control is-invalid" 
                  formControlName = "city" required>
                  <div class="invalid-feedback">Please enter the city</div>
             </div>
          </mat-form-field>
          <br>
          <mat-form-field>
            <div class="input-group mb-3">
                <input matInput placeholder = "Street"
                [ngClass]="{'is-invalid': addressForm.get('street').errors
                && addressForm.get('street').touched}"
                 class="form-control is-invalid" 
                formControlName = "street" required>
                <div class="invalid-feedback">Please enter the street</div>
             </div>
          </mat-form-field>
          <br>
          <mat-form-field>
              <div class="input-group mb-3">
                  <input matInput placeholder = "Region" formControlName = "region">
               </div>
          </mat-form-field>
          <br>
          <mat-form-field>
              <div class="input-group mb-3">
                  <input matInput placeholder = "Building" type="number" 
                  [ngClass]="{'is-invalid': addressForm.get('building').errors
                  && addressForm.get('building').touched}"
                   class="form-control is-invalid" 
                  formControlName = "building" required>
                  <div class="invalid-feedback">Please enter the building number</div>
               </div>
          </mat-form-field>
          <br>
          <mat-form-field>
              <div class="input-group mb-3">
                  <input matInput placeholder = "Flat" type="number" formControlName = "flat">
               </div>
          </mat-form-field>
           <div>
         </div>
          <div>
            <button mat-button [disabled]="!addressForm.valid" matStepperNext>Next</button>
          </div>
       </form>
    </mat-step>
    <mat-step [stepControl] = "estateForm">
       <form [formGroup] = "estateForm">
          <ng-template matStepLabel>Enter estate details</ng-template>
          <mat-form-field>
              <div class="input-group mb-3">
                  <input matInput placeholder = "Title" 
                  [ngClass]="{'is-invalid': estateForm.get('title').errors
                  && estateForm.get('title').touched}"
                   class="form-control is-invalid" 
                  formControlName = "title" required>
                  <div class="invalid-feedback">Please enter the title</div>
               </div>
          </mat-form-field>
          <br>
          <mat-form-field>
              <div class="input-group mb-3">
                  <input matInput placeholder = "Description" 
                  [ngClass]="{'is-invalid': estateForm.get('description').errors
                  && estateForm.get('description').touched}"
                   class="form-control is-invalid" 
                  formControlName = "description"  required>
                  <div class="invalid-feedback">Please enter the description</div>
               </div>
          </mat-form-field>
          <br>
          <mat-form-field>
              <div class="input-group mb-3">
                  <input matInput placeholder = "Square" type="number" 
                  [ngClass]="{'is-invalid': estateForm.get('square').errors
                  && estateForm.get('square').touched}"
                   class="form-control is-invalid" 
                  formControlName = "square" required>
                  <div class="invalid-feedback">Please enter the square</div>
               </div>
          </mat-form-field>
          <br>
          <mat-form-field>
              <div class="input-group mb-3">
                  <input matInput placeholder = "Rooms" type="number"
                  [ngClass]="{'is-invalid': estateForm.get('rooms').errors
                  && estateForm.get('rooms').touched}"
                   class="form-control is-invalid" 
                  formControlName = "rooms" required>
                  <div class="invalid-feedback">Please enter the number of rooms</div>
               </div>
          </mat-form-field>
          <br>
          <mat-form-field>
              <div class="input-group mb-3">
                  <input matInput placeholder = "Floors" formControlName = "floors">
               </div>
          </mat-form-field>
          <br>
          <mat-form-field>
              <div class="input-group mb-3">
                  <input matInput placeholder = "Flat" formControlName = "flat">
               </div>
          </mat-form-field>
          <br>
                  <div class="form-group">
                      <label for="file">Choose photos to upload</label>
                      <input class="form-control-file" type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
                    </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button [disabled]="!estateForm.valid" matStepperNext>Next</button>
          </div>
       </form>
    </mat-step>

    <mat-step [stepControl] = "sellingForm">
        <form [formGroup] = "sellingForm">
           <ng-template matStepLabel>Enter selling info</ng-template>
           
           <div class="form-group">
              <label class="control-label" style="margin-right:10px">Type is: </label>
              <label class="radio-inline">
                <input class="mr-3" type="radio" value="selling" formControlName="type" required>Selling
              </label>
              <label class="radio-inline ml-3">
                <input class="mr-3" type="radio" value="rent" formControlName="type">Rent
              </label>
              <label class="radio-inline ml-3">
                  <input class="mr-3" type="radio" value="daily" formControlName="type">Daily rent
                </label>
            </div>
           <mat-form-field>
               <div class="input-group mb-3">
                   <input matInput placeholder = "Price($)" type="number" formControlName = "price" required>
                </div>
           </mat-form-field>
        </form>

        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click) = "stepper.reset()">Reset</button>
            <button mat-button [disabled]="!sellingForm.valid"  (click) = "add_estate()">Send</button>
         </div>
     </mat-step>
 </mat-horizontal-stepper>