<div class="card bg-light">
  <div *ngIf="estate.photos; else Carousel">
    <img class="card-img-top rounded img-thumbnail" src="../../../assets/notFound.jpg" />
  </div>
  <ng-template #Carousel>
    <div id="carouselControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" *ngFor="let photo of estate.photos">
          <img class="card-img-top rounded img-thumbnail" src="{{photo.url}}" alt="{{photo.description}}">
        </div>
      </div>
      <div class="card-body p-1">
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </ng-template>
  <div class="card-body">
    <h4 class="card-title text mb-1">{{estate.title}}</h4>
    <h5 class="card-text text-muted text">{{estate.price}}$</h5>
    <p class="card-text">
      {{estate.description}}
    </p>
    <a [routerLink]="['/estates-detail', estate.id]"><input type="button" class="btn btn-primary" value="More"></a>
  </div>
</div>
