<nav class="navbar navbar-expand-sm navbar-light bg-primary">
  <div class="container">

    <a href="index.html" class="navbar-brand">MyEstate</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
          <span class="navbar-toggler-icon"></span>
    </button>
      
      <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav ml-auto">
      <li class="nav-item"  routerLinkActive="router-link-active">
        <a [routerLink]="['/estates']" class="nav-link">Selling</a>
      </li>
      <li class="nav-item">
        <a href="#contact" class="nav-link">Rent</a>
      </li>
      <li class="nav-item">
        <a href="#about" class="nav-link">Daily rent</a>
      </li>
      <li class="nav-item">
          <a href="#about" class="nav-link">Estate agents</a>
        </li>
        
      <li class="nav-item" *ngIf="loggedIn()">
        <a href="#about" class="nav-link">Add estate</a>
      </li>
       </ul>
      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>
          Welcome {{authService.decodedToken?.unique_name | titlecase}}
        </a>
  
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" href="#"> <i class="fa fa-user"></i> Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">
            <i class="fa fa-sign-out" ></i> Logout</a>
        </div>
      </div>
    </div>
      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" name="username" 
          placeholder="Username" required [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" name="password" 
          placeholder="Password" required [(ngModel)]="model.password">
        <button style="margin: 5px" [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
     </form>
        <button *ngIf="!loggedIn()" style="margin: 5px" [routerLink]="['/register']" 
        routerLinkActive="router-link-active"  class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
</div>
