<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
  <a href="index.html" class="navbar-brand">MyEstate</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a href="index.html" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="index.html" class="nav-link">Rent</a>
    </li>
    <li class="nav-item">
      <a href="index.html" class="nav-link">Buy</a>
    </li>
    <li class="nav-item">
      <a href="#contact" class="nav-link">Contact</a>
    </li>
    <li class="nav-item">
      <a href="#about" class="nav-link">About</a>
    </li>
    <li *ngIf="!loggedIn()" class="nav-item">
      <a class="nav-link" (click)="logout()">Login</a>
    </li>
    <li *ngIf="loggedIn()" class="nav-item">
      <a class="nav-link" (click)="logout()">Logout</a>
    </li>
        </ul>
    </div>