<div class="container">
  <div class="row">
    <div class="col-md-6">

      <img class="float-left" *ngFor="let photo of estate.photos" src="{{photo.url}}" />
      <div class="caption">
        <h4 id="homeTitle">{{estate.title}}</h4>
        <h5 id="price">{{estate.price}}$</h5>
        <p id="description">
          {{estate.description}}
        </p>
        <p><strong>Square:</strong> {{estate.square}}</p>
        <p><strong>Rooms:</strong> {{estate.rooms}}</p>
        <p><strong>Floors:</strong> {{estate.floors}}</p>
        <p><strong>Country:</strong> {{estate.country}}</p>
        <p><strong>City:</strong> {{estate.city}}</p>
        <p><strong>Street:</strong> {{estate.street}}</p>
        <p><strong>Created:</strong> {{estate.created}}</p>
        <small><strong>Owner:</strong> {{estate.owner.username}}</small>
      </div>
    </div>
  </div>
</div>
